.wrapp {
    width: inherit;
    height: inherit;
    text-align: center;
    background-color: #ffffffcc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}